{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block logo %}
    {% spaceless %}
        <a class="logo" href="{{ url('sonata_admin_dashboard') }}">
            {% if 'single_image' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                <img src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}">
            {% endif %}
            {% if 'single_text' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                {#<span>{{ admin_pool.title }}</span>#}
                {#<span>{{ 'AZP - Admin' }}</span>#}

            {% endif %}
        </a>
    {% endspaceless %}
{% endblock %}

{% block side_bar_after_nav %}
    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
        {#<a href="http://sonata-project.org" rel="noreferrer" target="_blank">Symfony2 Sonata Admin<br>Show case</a>#}
        <a href="{{ url('sonata_admin_dashboard') }}">Symfony2 Sonata Admin<br>Show case</a>
    </p>
{% endblock %}
